@page
@model WebAppMVC.Views.Home.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #e44d26;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px;
            background-color: #e44d26;
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Hello! Do you want to order PIZZA? :) </h1>
    <img src="https://nester-house.com.ua/wp-content/uploads/2020/11/Pizza-Delivery-Svityaz-Shatsk.png" alt="Delicious Pizza Image" width="300">
    <a href="/PizzaOrder/UserRegister">Let's register</a>
</body>
</html>
